.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  /* 4 columns with equal width */
  gap: 10px;
  /* Gap between grid items */
  padding: 20px;
  /* width: fit-content; */
}

.grid-item {
  position: relative;
}
